.design-card {
  margin: 20px 10px;
  float: left;
  width: 100px;
  padding: 10px;
}

.design-image {
  width: 100px;
  float: left;
}

.designs-list {
  display: inline-block;
}

.button-more {
  top: 250px;
  position: fixed;
  height: 100px;
  z-index: 1;
  opacity: 70%
}

.target {
  display: inline-block;
  height: 300px
}
