<div class="header">
<h1>Ann Logan|Cross Stitch Patterns to Download|</h1>
</div>

<div class="designs-panel" *appShellNoRender>
  <div>
          <app-designs-card-list>

          </app-designs-card-list>
  </div>
  <div class="albums-tag-list">
    <app-albums-tag-list
      [albums]="albums$ | async">

    </app-albums-tag-list>
  </div>

  <div class="intro-text">
My name is Ann and I am delighted to meet you here!
For many, many years now I have been creating patterns for embroidery with a counted cross for myself and others, and now I have a wonderful opportunity to share them with you too. You know, I'm sure you will like it as much as my other friends like it. All my patterns, designs and charts have been very carefully designed to make your work easier.
So what are we talking about? ... We're talking about counted cross stitch ... No need to explain to you that cross stitch is one of the most popular hobbies in the world. It is very easy to learn and very easy to do, cross stitch is just embroidery with many small crosses to create a beautiful, memorable design. This fun craft is sometimes referred to as “counting cross stitching” because the pattern requires the embroiderer to carefully count the number of places so that she knows exactly where to place the stitches.
I also want to tell you that I myself really love to cross-stitch. I regard this as a kind of meditation. It is so soothing: stitch by stitch, stitch by stitch ... What else can calm you more?
What can you do with it? There is a lot you can do with it. You can decorate your home, you can donate it, but first of all, this is for you.
And what is needed for this? Unlike other crafts, the cross stitch supplies you'll need to get started is extremely simple. Think yourself, what could be simpler than a needle and thread?
If you've never done cross stitching before, you can start with a small and simple design and end up becoming a pro.
Today's online cross stitch shops offer a huge selection of fabrics and threads. I prefer the Aida fabric. It is easy to embroider and take care of it. Aida is woven from threads that are grouped into bundles in such a way that small holes remain through which a needle can be threaded. You've probably already heard about Aida, because Aida is the most common fabric for counting embroidery. Although one cannot but recall weaving and linen. But using Aida, in my opinion, is easier than all other fabrics.
Aida is sold in different colors and her color is very important. It will eventually become the backdrop for your finished cross stitch project.
And of course, when you choose a fabric, the count of fabric is also important — the size of the finished project and its general appearance depend on it ... It is also good that the size of the needles used corresponds to the choice of the count of fabric — so I always buy a pack of needles straight away.
There are many types of cross stitch floss on sale — Anchor, Madeira ... Personally, I prefer DMC threads. Today there are many different color options for cross stitch floss. If you download a pattern, you will be presented with a list of different specific colors. And I highly recommend that you follow these tips to make sure your project is as expected. Please understand that subtle variations often add dimension to the finished design, even if they are difficult to discern.
What else you need is a hoop and scissors. The hoop is used to stretch the fabric to keep the fabric flat while sewing. This greatly simplifies your work. Although I know people who prefer to do without a hoop.
Remember that when a project is complete and you look at it, you have a thrilling feeling. This is a natural pleasure, a great thrill.

Happy stitching!
There are hundreds of cross stitch designs in my Galleries and new one is added almost every day. I am sending new designs every few days to members of my Newsletter.
You can enter each of my cross stitch albums on this page and look for chart you want.

You can search for the pattern using my search box just enter your search terms comma separated (for example: cats, birds, dogs).

You can sign up to my Newsletter and receive new cross stitch designs each time I send them out.


And you can write me
and I'll try to find the cross-stitch pattern you want and add it to my collection.
  </div>
</div>
